/* https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css */
:where(.CodeBlock) {
  code.hljs {
    padding: 3px 5px;
  }

  pre code.hljs {
    display: block;
    padding: 1em;
    overflow-x: auto;
  }

  /*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/
  .hljs {
    background: #0d1117;
    color: #c9d1d9;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta :where(.hljs-keyword),
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable:where(.language_) {
    color: #ff7b72;
  }

  .hljs-title,
  .hljs-title:where(.class_),
  .hljs-title:where(.class_.inherited__),
  .hljs-title:where(.function_) {
    color: #d2a8ff;
  }

  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-variable {
    color: #79c0ff;
  }

  .hljs-meta :where(.hljs-string),
  .hljs-regexp,
  .hljs-string {
    color: #a5d6ff;
  }

  .hljs-built_in,
  .hljs-symbol {
    color: #ffa657;
  }

  .hljs-code,
  .hljs-comment,
  .hljs-formula {
    color: #8b949e;
  }

  .hljs-name,
  .hljs-quote,
  .hljs-selector-pseudo,
  .hljs-selector-tag {
    color: #7ee787;
  }

  .hljs-subst {
    color: #c9d1d9;
  }

  .hljs-section {
    color: #1f6feb;
    font-weight: 700;
  }

  .hljs-bullet {
    color: #f2cc60;
  }

  .hljs-emphasis {
    color: #c9d1d9;
    font-style: italic;
  }

  .hljs-strong {
    color: #c9d1d9;
    font-weight: 700;
  }

  .hljs-addition {
    background-color: #033a16;
    color: #aff5b4;
  }

  .hljs-deletion {
    background-color: #67060c;
    color: #ffdcd7;
  }
}
