.Editor {
  .TaskList {
    padding: 0;
    list-style: none;
  }

  .TaskItem {
    display: flex;
    margin: 4px 0;

    > label {
      flex: 0 0 auto;
      margin-right: 0.5rem;
      user-select: none;

      :where(input[type="checkbox"]) {
        display: grid;
        place-content: center;
        appearance: none;
        cursor: pointer;
        margin-top: 0.3rem;
        border: 0.15em solid white;
        border-radius: 2px;
        width: 1.2em;
        height: 1.2em;
        color: currentcolor;

        &::before {
          /* Check mark */
          transform: scale(0);
          transform-origin: bottom left;
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          transition: 120ms transform ease-in-out;
          box-shadow: inset 1em 1em var(--color-primary);
          width: 0.65em;
          height: 0.65em;
          content: "";
        }

        &:where(:checked) {
          &::before {
            transform: scale(1);
          }
        }
      }
    }

    > div {
      flex: 1 1 auto;
    }

    :where(&[data-checked="true"] > div > *:first-child) {
      opacity: 0.7;
      text-decoration: line-through;
    }
  }
}
